@use "sass:map";

@mixin uncopyable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

$mq-breakpoints: (
  // extra small (default/mobile)
  xs: 0,

  // small devices (phones)
  sm: 576px,

  // medium devices (tablets)
  md: 768px,

  // large devices (desktops)
  lg: 992px,

  // extra large devices
  xl: 1200px,

  // ultra large,,,,
  xxl: 1400px
);

// Mixin for min-width media queries
@mixin mq-up($breakpoint) {
  $min-width: map.get($mq-breakpoints, $breakpoint);

  @if $min-width != null {
    @media (min-width: $min-width) {
      @content;
    }
  } @else {
    @error "🚫 Unknown breakpoint: `#{$breakpoint}`. Check $mq-breakpoints map.";
  }
}
