@charset "UTF-8";
@use "src/styles/mixins";

@font-face {
  font-family: "LibraSans";
  src: url("src/fonts/libraSans/LibraSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LibraSans";
  src: url("src/fonts/libraSans/LibraSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LibraSans";
  src: url("src/fonts/libraSans/LibraSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "LibraSans";
  src: url("src/fonts/libraSans/LibraSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 576px;
  font-family: "LibraSans", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}
