@use "src/styles/mixins";
@use "src/styles/globalVariables.module.scss" as variables;

.layoutRoot {
  display: flex;
  background-color: variables.$whiteBlue100;
  width: 100%;
  overflow-x: hidden;

  .main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    transition: all 0.35s ease-in-out;

    .content {
      max-height: calc(100vh - variables.$navbarHeight);
      overflow-y: auto;
      flex: 1;
    }
  }
}

.quizLayout {
  background-image: linear-gradient(
    315deg,
    variables.$blue100 0%,
    variables.$whiteBlue100 100%
  );
}
