@use "src/mixins/mixins";

.layoutRoot {
  display: flex;
  background-color: var(--white-blue-1);
  width: 100%;

  .main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    transition: all 0.35s ease-in-out;

    .content {
      max-height: 100vh;
      overflow-y: auto;
      flex: 1;
    }
  }
}

.quizLayout {
  background-image: linear-gradient(
    315deg,
    var(--white-blue-4) 0%,
    var(--white-blue-1) 100%
  );
  @include mixins.uncopyable;
}
