@use "src/mixins/mixins";

.sidebarCollapsed {
  margin-left: -264px;
}

.sidebarRoot {
  max-width: 264px;
  min-width: 264px;
  transition: all 0.35s ease-in-out;
  box-shadow: var(--grey-border-box-shadow);
  padding: 1rem 0;
  background-color: var(--white);
  border: 1px var(--grey-border);
  @include mixins.uncopyable;

  .sidebarContainer {
    height: 100% !important;
    width: 100% !important;
  }

  .sidebarLogo {
    padding: 1.15rem 1.5rem;
  }

  .sidebarLogo a {
    color: var(--dark);
    font-size: 1.15rem;
    font-weight: 600;
  }

  .sidebarNav {
    color: inherit;
  }

  /* Style for sidebar nav */

  .sidebarHeader {
    color: var(--dark);
    font-size: 0.75rem;
    padding: 1.5rem 1.5rem 0.375rem;
  }

  a.sidebarLink {
    padding: 0.625rem 1.625rem;
    color: var(--dark-gray);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;

    &:hover {
      background-color: var(--light-gray);
    }

    .icon {
      margin-right: 0.5rem;
    }
  }

  .sidebarItem .sidebarDropdown {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    color: var(--dark-gray);
    padding: 0 25px;
  }

  .sidebarLink.hasDropdown::after {
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition: all 0.2s ease-out;
    border: solid;
    border-width: 0 0.075rem 0.075rem 0;
  }

  .sidebarLink.hasDropdown.active::after {
    transform: translateY(-50%) rotate(-135deg);
    transition: all 0.2s ease-out;
  }

  .sidebarItem .hasDropdown.active + .sidebarDropdown {
    opacity: 1;
    max-height: 15em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
}
