.layoutRoot {
  display: flex;
  background-color: var(--white-blue-1);

  .main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    padding: 1rem 0;

    .content {
      flex: 1;
      max-width: 100vw;
      width: 100vw;
      padding: 1rem 1.5rem;
    }
  }
}
