*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: grey;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  padding: 1rem 0;
}

/* Top Navbar */

.dashboard-navbar {
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgb(255, 255, 255, 0.14);
}

.toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  margin-right: 1.5rem;
}

.toggle-btn i {
  color: #fff;
  font-size: 1.5rem;
}

.content {
  flex: 1;
  max-width: 100vw;
  width: 100vw;
  padding: 1rem 1.5rem;
}
