:root {
  --white: #ffffff;
  --off-white: #f9f9f9;
  --light-gray: #f0f0f0;

  --gray-100: #e0e0e0;
  --gray-200: #cccccc;
  --gray-300: #999999;
  --gray-400: #666666;
  --gray-500: #333333;

  --blue-light: #d0e8ff;
  --blue: #007bff;
  --blue-muted: #6699cc;
  --blue-dark: #0056b3;
  --blue-darker: #003d80;
  --blue-deep: #002b5c;

  --dark: #1a1a1a;
  --dark-gray: #2c2c2c;
  --black: #000000;

  --accent-green: #28a745;
  --accent-red: #dc3545;
  --accent-yellow: #ffc107;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  padding: 1rem 0;
}

/* Top Navbar */

.dashboard-navbar {
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgb(255, 255, 255, 0.14);
}

.toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  margin-right: 1.5rem;
}

.toggle-btn i {
  font-size: 1.5rem;
}

.content {
  flex: 1;
  max-width: 100vw;
  width: 100vw;
  padding: 1rem 1.5rem;
}
