.rootContainer {
  .title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }

  .main {
    color: black;
  }

  .bottomLink {
    margin-top: 0.5rem;
    text-align: left;

    a {
      display: inline-block;
      margin: 1rem 0 0.5rem 0;
      padding: 0.5rem 1rem;
      background-color: var(--blue);
      color: var(--white);
      text-decoration: none;
      border-radius: 4px;
      font-weight: bold;

      &:hover {
        background-color: var(--blue-dark);
      }

      &:active {
        background-color: var(--blue-darker);
      }
    }
  }
}
