.keyValueContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .keyValueRow {
    display: flex;
    align-items: flex-start;
  }

  .key {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50px;
    font-weight: 600;
    margin-right: 8px;
  }

  .value {
    flex: 1 1 auto;
    min-width: 0;
    word-break: break-word;
  }
}
