.keyValueContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .keyValueRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .key {
    font-weight: bold;
    width: 250px;
  }

  .value {
    flex: 1;
  }
}
