@use "src/styles/globalVariables.module.scss" as variables;

.rootContainer {
  .title {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }

  .main {
    color: black;
  }

  .bottomLink {
    margin-top: 0.5rem;
    text-align: left;

    a {
      display: inline-block;
      margin: 1rem 0 0.5rem 0;
      padding: 0.5rem 1rem;
      background-color: variables.$blue300;
      color: variables.$white100;
      text-decoration: none;
      border-radius: 4px;
      font-weight: bold;

      &:hover {
        background-color: variables.$blue400;
      }

      &:active {
        background-color: variables.$blue500;
      }
    }
  }

  .paginationSection {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 10px;

    .simplePaginationButton {
      padding: 0.45rem;
      background-color: variables.$blue300;
      color: variables.$white100;
      cursor: pointer;
      border: none;
      border-radius: 5px;

      &:hover {
        background-color: variables.$blue400;
      }

      &:active {
        background-color: variables.$blue500;
      }

      &:disabled,
      &.disabled {
        background-color: variables.$blue200;
        color: variables.$white200;
        cursor: not-allowed;
        opacity: 0.6;
        pointer-events: none;
      }
    }
  }
}
