@use "src/styles/globalVariables.module.scss" as variables;

.rootContainer {
  max-width: 450px;
  color: variables.$dark100;
  position: relative;

  .title {
    text-align: center;
  }

  .element {
    margin: 20px;
  }
}
