.layoutRoot {
  display: flex;
  background-color: var(--white-blue-1);
  width: 100%;

  .main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    transition: all 0.35s ease-in-out;

    .content {
      max-height: 100vh;
      overflow-y: auto;
      flex: 1;
      padding: 1rem 1.5rem;
    }
  }
}
