.rootContainer {
  max-width: 450px;
  color: var(--dark);
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: inherit;
  }

  .title {
    text-align: center;
  }

  .element {
    margin-top: 20px;
  }

  label {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;

    span {
      display: block;
    }

    input {
      padding: 0.75rem 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      transition: border-color 0.3s ease;
      width: 100%;

      &:focus {
        border-color: var(--blue);
        outline: none;
      }
    }
  }

  button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    border: none;

    &:hover {
      background-color: var(--blue-dark);
    }

    &:active {
      background-color: var(--blue-darker);
    }
  }
}
