@use "src/styles/globalVariables.module.scss" as variables;

.rootContainer {
  max-width: 450px;
  color: variables.$dark100;
  position: relative;

  .title {
    text-align: center;
  }

  .element {
    margin-top: 20px;
  }

  label {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;

    span {
      display: block;
    }

    input {
      padding: 0.75rem 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      transition: border-color 0.3s ease;
      width: 100%;

      &:focus {
        border-color: variables.$blue300;
        outline: none;
      }
    }
  }

  button {
    width: 100%;
    padding: 0.75rem;
    background-color: variables.$blue300;
    color: variables.$white100;
    cursor: pointer;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: variables.$blue400;
    }

    &:active {
      background-color: variables.$blue500;
    }
  }
}
