@use "src/styles/globalVariables.module.scss" as variables;

.dashboardNavbar {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px variables.$greyBorder;
  background-color: variables.$white100;
  box-shadow: variables.$greyBorderBoxShadow;
  height: variables.$navbarHeight;
}

.toggleBtn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  margin-right: 1.5rem;

  .icon {
    color: variables.$gray400;
    font-size: 2rem;
  }
}
