@use "src/mixins/mixins";

.quizRoot {
  background-image: linear-gradient(
    315deg,
    var(--white-blue-4) 0%,
    var(--white-blue-1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  @include mixins.uncopyable;

  .quizContainer {
    background-color: var(--off-white);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(50, 50, 50, 0.15);
    min-width: 600px;
    margin: 3vw;
    overflow: hidden;

    .quizHeader {
      padding: 2rem 4rem 0rem 4rem;

      .questionsNavItems {
        margin: 15px 0;
        display: flex;

        span {
          width: 20px;
          height: 20px;
          background-color: var(--gray-100);
          display: inline-block;
          border-radius: 4px;
          cursor: pointer;
          margin-right: 7px;
          border: 1px solid var(--blue);
          transition: background-color 0.1s ease, transform 0.1s ease;

          &.answered {
            background-color: var(--gray-300);
          }

          &.active {
            background-color: var(--blue-muted);
          }

          &:hover {
            box-shadow: 0 0 5px var(--blue);
          }
        }
      }
    }

    .quizBody {
      padding: 2rem 4rem 0rem 4rem;
    }

    .quizQuestion {
      margin: 0;
      font-size: 1.4rem;
    }

    ul {
      list-style-type: none;
      padding: 0 0 2rem 0;

      li {
        font-size: 1.4rem;
        margin: 1rem 0;

        input[type="checkbox"] {
          cursor: pointer;
          margin: 20px 20px 20px 0px;
        }

        label {
          cursor: pointer;
          display: flex;
        }
      }
    }

    button {
      color: var(--white);
      border: none;
      display: block;
      width: 100%;
      cursor: pointer;
      font-size: 1.1rem;
      font-family: inherit;
      padding: 1.3rem;
      background-color: var(--blue);
      transition: background-color 0.1s ease, transform 0.1s ease;

      &:hover {
        background-color: var(--blue-dark);
      }

      &:active {
        background-color: var(--blue-darker);
      }
    }
  }
}
