@use "src/styles/globalVariables.module.scss" as variables;
@use "src/styles/mixins";

.quizRoot {
  margin: 30px 0;

  .quizHeader {
    padding: 1rem 1rem 0rem 1rem;

    .questionsNavItems {
      margin: 15px 0;
      display: flex;

      span {
        width: 20px;
        height: 20px;
        background-color: variables.$gray100;
        display: inline-block;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 7px;
        border: 1px solid variables.$blue300;
        transition: background-color 0.1s ease, transform 0.1s ease;

        &.answered {
          background-color: variables.$gray300;
        }

        &.active {
          background-color: variables.$blue200;
        }

        &:hover {
          box-shadow: 0 0 5px variables.$blue300;
        }
      }
    }
  }

  .quizBody {
    padding: 1rem 1rem 0rem 1rem;
    color: black;

    ul {
      list-style-type: none;
      padding: 0 0 2rem 0;

      li {
        margin: 1rem 0;

        .answerOptionLabel {
          display: flex;
          justify-content: start;
          align-items: center;
          border: 1px variables.$greyBorder;
          cursor: pointer;
          padding: 0.7rem;
          gap: 0.7rem;
          white-space: pre-line;
          background-color: variables.$white200;
        }
      }
    }
  }

  .quizQuestion {
    margin: 0;
    white-space: pre-line;
  }

  button {
    color: variables.$white100;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-family: inherit;
    padding: 1.3rem;
    background-color: variables.$blue300;
    transition: background-color 0.1s ease, transform 0.1s ease;

    &:hover {
      background-color: variables.$blue400;
    }

    &:active {
      background-color: variables.$blue500;
    }
  }
}
