@use "src/styles/globalVariables.module.scss" as variables;
@use "src/styles/mixins";

.quizRoot {
  margin: 30px 0;
  position: relative;

  .quizHeader {
    padding: 1rem 1rem 0rem 1rem;

    .summaryResult {
      background-color: variables.$white200;
      border: 1px variables.$greyBorder;
      border-radius: 4px;
      transition: background-color 0.1s ease, transform 0.1s ease;
      padding: 10px;
    }

    .questionsNavItems {
      margin: 15px 0;
      display: flex;
      gap: 7px;
      flex-wrap: wrap;
      align-items: center;

      .questionNavItem {
        width: 15px;
        height: 15px;
        background-color: variables.$gray100;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid variables.$blue300;
        transition: background-color 0.1s ease, transform 0.1s ease;

        &.answered {
          background-color: variables.$gray300;
        }

        &.active {
          width: 25px;
          height: 25px;
        }

        &:hover {
          box-shadow: 0 0 5px variables.$blue300;
        }
      }
    }
  }

  .quizBody {
    padding: 1rem 1rem 0rem 1rem;
    color: black;

    ul {
      list-style-type: none;

      li {
        margin: 1rem 0;

        .answerOptionLabel {
          display: flex;
          justify-content: start;
          align-items: center;
          border: 1px variables.$greyBorder;
          cursor: pointer;
          padding: 0.7rem;
          gap: 0.7rem;
          white-space: pre-line;
          background-color: variables.$white200;
        }
      }
    }
  }

  .quizQuestionContainer {
    background-color: variables.$white200;
    .quizQuestion {
      margin: 0;
      white-space: pre-line;
      font-size: 1.25rem;
      font-family: "Courier New", Courier, monospace, "LibraSans", sans-serif;
    }
  }

  .correctAnswerExplanationContainer {
    background-color: variables.$green100;
    border: 1px variables.$greyBorder;
    padding: 20px;
    margin: 20px 0;
  }

  button {
    color: variables.$white100;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-family: inherit;
    padding: 1.3rem;
    background-color: variables.$blue300;
    transition: background-color 0.1s ease, transform 0.1s ease;

    &:hover {
      background-color: variables.$blue400;
    }

    &:active {
      background-color: variables.$blue500;
    }

    &:disabled,
    &.disabled {
      background-color: variables.$blue200;
      color: variables.$white200;
      cursor: not-allowed;
      opacity: 0.6;
      pointer-events: none;
    }
  }
}
