@use "src/mixins/mixins";

.quizRoot {
  margin: 30px 0;

  .quizHeader {
    padding: 1rem 2rem 0rem 1rem;

    .questionsNavItems {
      margin: 15px 0;
      display: flex;

      span {
        width: 20px;
        height: 20px;
        background-color: var(--gray-100);
        display: inline-block;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 7px;
        border: 1px solid var(--blue);
        transition: background-color 0.1s ease, transform 0.1s ease;

        &.answered {
          background-color: var(--gray-300);
        }

        &.active {
          background-color: var(--blue-muted);
        }

        &:hover {
          box-shadow: 0 0 5px var(--blue);
        }
      }
    }
  }

  .quizBody {
    padding: 2rem 4rem 0rem 4rem;
  }

  .quizQuestion {
    margin: 0;
    font-size: 1.3rem;
  }

  ul {
    list-style-type: none;
    padding: 0 0 2rem 0;

    li {
      font-size: 1.3rem;
      margin: 1rem 0;

      input[type="checkbox"] {
        cursor: pointer;
        margin: 20px 20px 20px 0px;
      }

      label {
        cursor: pointer;
        display: flex;
      }
    }
  }

  button {
    color: var(--white);
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
    background-color: var(--blue);
    transition: background-color 0.1s ease, transform 0.1s ease;

    &:hover {
      background-color: var(--blue-dark);
    }

    &:active {
      background-color: var(--blue-darker);
    }
  }
}
