.dashboardNavbar {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px var(--grey-border);
  background-color: var(--white);
  box-shadow: var(--grey-border-box-shadow);
}

.toggleBtn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  margin-right: 1.5rem;

  .icon {
    color: var(--dark);
    font-size: 2rem;
  }
}
