.dashboardNavbar {
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgb(255, 255, 255, 0.14);
}

.toggleBtn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  margin-right: 1.5rem;

  i {
    color: var(--dark);
    font-size: 1.5rem;
  }
}
