.dashboardNavbar {
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgb(255, 255, 255, 0.14);
  background-color: var(--off-white);
  box-shadow: 0 0 5px 0 rgba(55, 55, 55, 0.2);
  border: 1px solid rgba(128, 128, 128, 0.255);
}

.toggleBtn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  margin-right: 1.5rem;

  i {
    color: var(--dark);
    font-size: 1.5rem;
  }
}
